{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": ["class", "className", "classNames"],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent"
}
